@font-face {
    font-family: 'Another';
    src: url('../../src/assets/fonts/atwriter.ttf');

}
.chat {
    scroll-behavior: auto;
    overflow-y: scroll;
    height: 400px;
    max-height: 400px;
    display: block;
    flex-direction: column-reverse;
    padding: 5px;
}

.chat-row {
    height: 25px;
    margin: 5px;
    width: fit-content;
}

.chatBar {
    background: whitesmoke;
    color: black;
    width: 650px;
}

ul {
    width: 600px;
}

.input {
    display:block;
    /* position: absolute; */
    padding: 5px;
    margin: 5px;
    /* translate: 0 450px; */
    z-index: 1;
}

.wrapper {
    position: absolute;
    overflow: hidden;
    width: 650px;
    height: 500px;
    right: 0;
    translate: 0 100%;
    z-index: 1;
}

.slide {
    flex-direction: column;
    position: absolute;
    display: flex;
    right: -800px;
    width:650px;
    height: auto;
    transition: 1s;
    border-radius: 5px;
    background: whitesmoke;
}

.slide.toggled{
    display: flex;
    position: absolute;
    width:650px;
    height: auto;
    transition: 1s;
    right: 0;
    transition: 1s;
    margin: auto;
}

.chatToggle {
    position: absolute;
    width: 650px;
    padding: 10px;
    background: white;
    border-radius: 5px;
    bottom: 0;
    justify-content: center;
    margin: auto;
}

