@tailwind base;
@tailwind components;
@tailwind utilities;


/* *{
    border: 1px solid red;
} */

.slowAnim{
    @apply hover:transition duration-700 ease-in-out;
}

@font-face {
    font-family: "Another";
    src: url("../src/assets/fonts/atwriter.ttf");
}



:root {
    --drop-height: 300px;
    --logo-size:70px;
    --offset: 200px;
    --shadow-height: 20px;
    --duration: 0.7s;
}


.logo {
    width: fit-content;
    /* left: calc(50% - var(--logo-size) / 2); */
    animation-name: bounce;
    /* animation-duration: var(--duration); */
    animation-direction: alternate;
    animation-timing-function: cubic-bezier(0.95, 0.05, 0.795, 0.035);
    animation-iteration-count: infinite;
}

/* .shadow {
    width: var(--logo-size);
    height: var(--shadow-height);
    background: radial-gradient(50% 50%,
            rgba(150, 150, 150, 1),
            rgba(150, 150, 150, 0.05));
    position: absolute;
    top: calc(var(--offset) + var(--drop-height) + var(--logo-size) - 1.5 * var(--shadow-height));
    left: calc(50% - var(--logo-size) / 2);

    animation-name: grow;
    animation-duration: var(--duration);
    animation-direction: alternate;
    animation-timing-function: cubic-bezier(0.95, 0.05, 0.795, 0.035);
    animation-iteration-count: infinite;
} */

.emailfield {
    /* background-image: url("../src/svgsfolder/InputField.svg"); */
    /* background-repeat: no-repeat; */
    background-color: #FFFDD0;
    background-size: 100% 100%;
    border-color: black;
    border-width: 1px;
}

.passwordfield {
    /* background-image: url("../src/svgsfolder/InputField.svg"); */
    /* background-repeat: no-repeat; */
    background-color: #FFFDD0;
    background-size: 100% 100%;
    border-color: black;
    border-width: 1px;
}

.mainBg {
    /* background-image: url("../src/svgsfolder/EntryPage.svg"); */
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.enterButton {
    size: 50% 50%;
}

@keyframes bounce {
    from {
        transform: translateY(0) scale(1);
    }

    to {
        transform: translateY(var(--drop-height)) scale(1, 0.7);
    }
}

@keyframes grow {
    from {
        transform: scale(0.2, 0.5);
    }

    to {
        transform: scale(1.5, 0.8);
    }
}

