@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    border: 1px solid red;
}

/* .slowAnim {
    @apply hover: transition duration-700 ease-in-out;
} */

.settingsInput {
    @apply rounded-lg bg-gray-300 h-10 w-1/2 ml-3 px-5 text-sm;

}

.settingsInput:focus {
    @apply bg-white outline-orange-900;
}

.settingsButton {
    @apply rounded-lg bg-[#813b45] text-white h-10 text-lg w-full m-1;
}

.avatarButton {
    @apply rounded-lg bg-[#813b45] h-10 text-lg w-full m-3 p-1;
}

.avatarButton:hover {
    @apply cursor-pointer shadow-sm shadow-white;
}

.avatarButton:active {
    @apply bg-[#f08d9c] shadow-lg;
}

.input {
    @apply rounded-lg px-10 bg-white h-[50px] w-[300px] ml-3 font-another text-2xl;
}

.custom-transition {
    @apply duration-300 ease-in-out;
}

@font-face {
    font-family: 'Another';
    src: url('../src/assets/fonts/atwriter.ttf');

}

:root {
    --drop-height: 300px;
    --logo-size: 70px;
    --offset: 200px;
    --shadow-height: 20px;
    --duration: 0.7s;
}

.clickable:active {
    @apply shadow-lg shadow-black;
}

.clickable:hover {
    @apply cursor-pointer;
}

.custom-transition {
    @apply duration-300 ease-in-out;
}

.logo {
    width: fit-content;
    animation-name: bounce;
    animation-direction: alternate;
    animation-timing-function: cubic-bezier(0.95, 0.05, 0.795, 0.035);
    animation-iteration-count: infinite;
}


@keyframes bounce {
    from {
        transform: translateY(0) scale(1);
    }

    to {
        transform: translateY(var(--drop-height)) scale(1, 0.7);
    }
}

@keyframes grow {
    from {
        transform: scale(0.2, 0.5);
    }

    to {
        transform: scale(1.5, 0.8);
    }
}