@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    border: 1px solid red;
}

/* .slowAnim {
    @apply hover: transition duration-700 ease-in-out;
} */

.settingsInput {
    @apply rounded-lg bg-gray-300 h-12 w-1/2 ml-3 px-5 text-lg border-4 border-black;

}

.settingsInput:focus {
    @apply bg-white outline-orange-900 border-none;
}

.settingsButton {
    @apply rounded-lg bg-[#813b45] text-white h-10 text-lg w-full m-1;
}

.settingsButton:hover {
    @apply cursor-pointer text-2xl;
}

.input {
    @apply border-black border-4 text-center rounded-lg px-6 bg-white h-[70px] w-[350px] font-another text-2xl;
}

.input:focus {
    @apply outline-yellow-400 shadow-md shadow-white border-none;
}

.custom-transition {
    @apply duration-300 ease-in-out;
}

.board {
    @apply px-8 py-3 font-another absolute top-[10%] max-w-[600px] min-w-[560px] min-h-[330px] max-h-[600px] flex flex-col justify-between;

}

.eventTitle {
    @apply text-5xl text-white bg-[#856831] w-fit py-1 px-3 rounded-md;
}

.smallInfo {
    @apply bg-white w-fit py-1 px-2 rounded-md font-semibold mr-5;
}

.bigInfo {
    @apply bg-white text-2xl w-fit py-1 px-2 rounded-md font-semibold mr-5;
}

.done {
    @apply bg-[#601822] text-xl w-fit py-1 px-3 rounded-md custom-transition text-white;
}

.done:hover {
    @apply cursor-pointer bg-[#813b45] px-5;
}

.secret {
    @apply absolute animate-pulse py-2 px-5 text-white text-2xl top-[40%] w-fit right-[7%] bg-red-600 rotate-12;
}

@font-face {
    font-family: 'Another';
    src: url('../src/assets/fonts/atwriter.ttf');

}

:root {
    --drop-height: 300px;
    --logo-size: 70px;
    --offset: 200px;
    --shadow-height: 20px;
    --duration: 0.7s;
}

.clickable:active {
    @apply shadow-lg shadow-black;
}

.clickable:hover {
    @apply cursor-pointer;
}

.custom-transition {
    @apply duration-300 ease-in-out;
}

.logo {
    width: fit-content;
    animation-name: bounce;
    animation-direction: alternate;
    animation-timing-function: cubic-bezier(0.95, 0.05, 0.795, 0.035);
    animation-iteration-count: infinite;
}


@keyframes bounce {
    from {
        transform: translateY(0) scale(1);
    }

    to {
        transform: translateY(var(--drop-height)) scale(1, 0.7);
    }
}

@keyframes grow {
    from {
        transform: scale(0.2, 0.5);
    }

    to {
        transform: scale(1.5, 0.8);
    }
}